<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Verde Monarca">
    <meta name="keywords" content="energia,renovable,mexico,energetico,solar,green,energy,latino,america,latinoamerica">
    <meta name="author" content="Maurizio Calo">
    <link href="assets/img/favicon.png" rel="shortcut icon" >
    <title>Verde Monarca</title>
    <%= stylesheet_link_tag "bootstrap.min" %>
    <%= stylesheet_link_tag "style" %>
    <%= stylesheet_link_tag "responsive" %>
    <%= stylesheet_link_tag "animate.min" %>
    <%= stylesheet_link_tag "colorpickr" %>
    <%= stylesheet_link_tag "linecons" %>
    <%= stylesheet_link_tag "social-icons" %>
    <%= stylesheet_link_tag "font-awesome.min" %>
    <%= stylesheet_link_tag "bootstrapValidator.min" %>
    <!-- Web Fonts -->
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= javascript_include_tag "modernizr.custom" %>
  </head>
  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand smoothScroll" href="#home"><%= image_tag "Logo_Verde_Monarca.png" %></a>
        </div>
      </div><!-- /container -->
    </div><!-- /fixed-navbar -->

    <table style="width:100%; height:100%; margin-top:100px;">
      <tr>
        <td>&nbsp;</td>
        <td style="width:300px;" valign="middle">
        	<form class="form-horizontal" action="<%=url_for controller: 'main', action: 'login'%>" method="post" name="frmLogin" id="frmLogin">
            <fieldset>
              <!-- Text input-->
              <div class="control-group">
                <label class="control-label" for="Email">Email:</label>
                <div class="controls">
                  <input id="sign-in-mail" name="email" class="form-control" type="text" placeholder="email" class="input-large" required="">
                </div>
              </div>

              <!-- Password input-->
              <div class="control-group">
                <label class="control-label" for="passwordinput">Password:</label>
                <div class="controls">
                  <input required="" id="passwordinput" name="passwordinput" class="form-control" type="password" placeholder="********" class="input-medium">
                </div>
              </div>

              <!-- Multiple Checkboxes (inline) -->
      <!--                    <div class="control-group">
                <label class="control-label" for="rememberme"></label>
                <div class="controls">
                  <label class="checkbox inline" for="rememberme-0">
                    <input type="checkbox" name="rememberme" id="rememberme-0" value="Remember me">
                    Recuerdame
                  </label>
                </div>
              </div>
      -->
              <!-- Button -->
              <div class="control-group">
                <label class="control-label" for="signin"></label>
                <div class="controls">
                  <button id="signin" class="btn btn-theme btn-block">Iniciar Sesión</button>
                </div>
              </div>
            </fieldset>
          </form>
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td style="height:20px;">
          &nbsp;
        </td>
      </tr>
      <tr>
        <td colspan="3" style="text-align:center; color:red;">
          <% 
            if @user.nil? 
          %>
            <label class="control-label">¡Usuario no existe!</label>
          <% 
            else 
              if @user.authenticate(params["passwordinput"]) == false
          %>
            <label class="control-label">¡Contraseña incorrecta!</label>
          <% 
              end
            end 
          %>
        </td>
      </tr>
      <tr>
        <td colspan="3" style="text-align:center; color:red;">
          <a href="#" id="testLink">Try</a>
          <div id="div_hello">
          </div>
        </td>
      </tr>
    </table>
    <!-- jQuery  -->
    <%= javascript_include_tag "jquery.min" %>
    <%= javascript_include_tag "bootstrap.min" %>
    <%= javascript_include_tag "detectmobilebrowser" %>
    <%= javascript_include_tag "smoothscroll" %>
    <%= javascript_include_tag "bootstrapValidator.min" %>
    <%= javascript_include_tag "jquery.inview.min" %>
    <%= javascript_include_tag "jquery.easing.1.3" %>
    <%= javascript_include_tag "animations" %>
    <script>
      $(document).ready(function() {
        $.ajax({
          type: "POST",
          url: "/main/login",
          data: {id:"1"},
          dataType: "json",
          beforeSend: function(){
            alert("beforeSend");
          },
          success: function(pRespuesta) {
            alert(pRespuesta.success);
              
          },
          error: function(pRespuesta) {
            alert("error" + pRespuesta);
          },
          complete: function() {
            alert("complete");
          }
        });
      });
    </script>
  </body>
 </html>