<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Verde Monarca">
    <meta name="keywords" content="energia,renovable,mexico,energetico,solar,green,energy,latino,america,latinoamerica">
    <meta name="author" content="Maurizio Calo">
    <link href="assets/img/favicon.png" rel="shortcut icon" >
    <title>Verde Monarca</title>
    <%= stylesheet_link_tag "bootstrap.min" %>
    <%= stylesheet_link_tag "client-portal" %>
    <%= stylesheet_link_tag "responsive" %>
    <%= stylesheet_link_tag "animate.min" %>
    <%= stylesheet_link_tag "colorpickr" %>
    <%= stylesheet_link_tag "linecons" %>
    <%= stylesheet_link_tag "social-icons" %>
    <%= stylesheet_link_tag "font-awesome.min" %>
    <%= stylesheet_link_tag "bootstrapValidator.min" %>
    <%= stylesheet_link_tag "jquery.signaturepad" %>
    <%= stylesheet_link_tag "style" %>
    <!-- Web Fonts -->
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= javascript_include_tag "modernizr.custom" %>
  </head>

  <body data-spy="scroll" data-offset="0" data-target=".portal-sidebar">

    <%= render(:partial => "shared/dashboard_navbar", :locals => {:active_tab => "foundation"})%>
	
	<!-- Contract Modal -->
	<div class="modal fade bs-modal-sm in" id="foundation-donation-contract-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
		<div class="modal-dialog modal-sm" style="width:auto;max-width:700px;">
			<div class="modal-content">
				<div class="modal-body">
					<div class="tab-content">
						<!-- Change Password Form -->
						<div class="tab-pane fade active in" id="foundation-donation-contract">
							<fieldset>

								<!-- Contract -->
								<div class="control-group">
									<h2 class="h2-section-title">Contrato de donación</h2>
									<hr>
									<iframe src="" width="100%" style="height:200px;" id="donation-contract-pdf">
									Tu navegador no puede mostrar documentos pdf
									</iframe>
								</div>

								<!-- Signature -->
								<div class="control-group">

									<div class="sigPad">
										<ul class="sigNav" style="display: block;width:100%;">
											<li style="display: list-item;">Firmar contrato</li>
											<li class="clearButton" style="display: list-item;"><a href="#clear" id="clear">Limpiar</a></li>
										</ul>
										<div class="sig sigWrapper">
											<div class="typed"></div>
											<canvas class="pad" width="300" height="100" id="canvas"></canvas>
											<input type="hidden" name="output" id="output" class="output">
										</div>
									</div>

								</div>
								<br/>
								<!-- Buttons-->
								<div class="control-group text-center">
									<div class="controls text-center">
										<a href="#" disabled id="foundation-donation-contract-accept" class="btn btn-theme">Aceptar</a>
									</div>
								</div>
								<br/>
								<div class="control-group text-center">
									<div class="controls text-center">
										<label id="error" style="color:red;"></label>
									</div>
								</div>

							</fieldset>
						</div><!-- /Change Password Form -->
					</div><!-- /tab-content -->
				</div><!-- /modal-body -->

				<div class="modal-footer">
					<center>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					</center>
				</div>

			</div><!-- /modal-content -->
		</div><!-- /modal-dialog -->
	</div><!-- /modal -->

	<!-- Payment Modal -->
	<div class="modal fade bs-modal-sm in" id="payment-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
		<div class="modal-dialog modal-sm" style="width:auto;max-width:700px;">
			<div class="modal-content">
				<div class="modal-body">
					<div class="tab-content">
						<div class="tab-pane fade active in" id="payment">
							<fieldset>
								<form class="text-center form-horizontal" action="./process_donation" method="POST">
									<table align="center" id="user-info-table" style="text-align:left;">
										<tr><td style="width:250px;"><span class='bold'>Donar a:</span></td><td><input name="program" type="text" readonly style="background:transparent;border:none;" /></td></tr>
										<tr><td style="width:250px;"><span class='bold'>Créditos VM:</span></td><td><input name="creditos_vm" type="text" readonly style="background:transparent;border:none;" /></td></tr>
										<tr><td><span class='bold'>$MN:</span></td><td><input name="amount" type="text" readonly style="background:transparent;border:none;" /></td></tr>
										<tr><td></td><td><input name="contract" type="hidden" style="background:transparent;border:none;" /><input name="project_id" type="hidden" /></td></tr>
									</table>
									<br/>
									<br/>
									<script
										src="https://checkout.stripe.com/checkout.js" class="stripe-button"
										data-key="<%=@stripe_pk_test%>"
										data-name="Verde Monarca"
										data-description="Fundacion VM"
										data-currency="MXN"
										data-email="<%=@online_user.email%>"
										data-label="Pagar"
										data-image="">
									</script>
									<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
								</form>
							</fieldset>
						</div><!-- /Change Password Form -->
					</div><!-- /tab-content -->
				</div><!-- /modal-body -->

				<div class="modal-footer">
					<center>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					</center>
				</div>

			</div><!-- /modal-content -->
		</div><!-- /modal-dialog -->
	</div><!-- /modal -->

    <div class="main-dashboard-content">
      <div class="container">
        <div class="col-sm-3 portal-sidebar">
          <ul class="nav nav-list portal-sidenav affix cl-effect-13">
            <li class="active"><a href="#descripcion" class="smoothScroll">Descripción</a></li>
            <li class=""><a href="#agua-para-todos" class="smoothScroll">¡Agua Para Todos!</a></li>
          </ul>
        </div>

        <div class="col-sm-6">
          <section id="descripcion" name="descripcion"></section>
          <div class="descripcion">
              <div class="row">
                <h2 class="text-center">Descripción</h2>
                <hr>
              </div><!-- /row -->
              <div class="row">
                <p class="text-justify"> La <strong class="theme-color">Fundacion Verde Monarca</strong> tiene como fin fomentar proyectos sociales de carácter sustentable en comunidades marginadas y de bajos recursos. Como miembro Verde Monarca, ahora puedes optar a donar tus ahorros económicos, tus créditos VM, tu dinero y/o tu tiempo para crear un mejor México.</p>
              </div>
              <div class="text-center"><%= image_tag("charity.svg",:class => "svg", :style => "height:150px;") %></div>
              <br><br><br>
              <br>
          </div><!-- /consumo-energetico -->

          <section id="agua-para-todos" name="agua-para-todos"></section>
          <div class="agua-para-todos">
              <div class="row">
                <h2 class="text-center platinum-color">¡Agua Para Todos!</h2>
                <hr>
              </div><!-- /row -->
              <div class="row">
                <p class="text-justify">El agua es el elemento más importante en nuestras vidas. Es indispensable para mantenernos sanos y para fomentar el crecimiento de cultivos que permitan la autosuficiencia y el crecimiento económico. Ayúdanos a construir bombas de aguas, impulsadas por energía solar, en zonas marginadas para llevarle agua a todos los mexicanos. Tú donación permitirá que haya <strong class="platinum-color">¡Agua para Todos!</strong></p>
                <strong>Meta:</strong> Instalación de 100 bombas de agua solares en zonas marginadas<br>
                <strong>Monto:</strong> $1,000,000 MN <br>
                <strong>Avance:</strong> $50,000 MN (5%) <br><br>
                <div class="classic-form">
					<form class="text-center form-horizontal" action="" method="POST">
						<div class="form-group">
							<label class="col-sm-4 control-label">Deseo Donar a: </label>
							<div class="col-sm-8">
								<select class="form-control" name="program-input" >
									<option value="1">Agua Para Todos</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="creditos" class="col-sm-4 control-label">Créditos VM:</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="creditos-vm-input" placeholder="100">
							</div>
						</div>
						<div class="form-group">
							<label for="creditos" class="col-sm-4 control-label">$MN: </label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="amount-input" placeholder="100">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-8 col-sm-offset-4">
								<div class="pull-left"><input type='checkbox' name='donation-accept'> Acepto los términos y condiciones para donar </div><br>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-8 col-sm-offset-4">
								<div class="pull-left"><a disabled href="#foundation-donation-contract" name="donate" class="btn btn-theme" data-toggle="modal" data-target="#foundation-donation-contract-modal">Donar ahora</a></div><br>
							</div>
						</div>
					</form>
                </div>
              </div>
              <br><br><br>
              <br>
          </div><!-- /generacion-solar -->

        </div>
        <div class="col-sm-3 portal-right-sidebar">
          <div class="item">
            <h3 class="<%=@color_classes[@user_tier]%>">VM <%=@user_tier%></h3>
            <h1 class="text-center theme-color bold"><%=@online_user.puntos_vm%></h1>
            <h4 class="text-center theme-color bold">Puntos VM</h4>
          </div>
          <div class="item">
            <h1 class="text-center theme-color bold"><%=@online_user.creditos_vm%></h1>
            <h4 class="text-center theme-color bold">Créditos VM</h4>
          </div>
        </div>
      </div><!--/container-->
    </div>

    <%= render(:partial => "shared/footer")%>
    <!-- jQuery  -->
    <%= javascript_include_tag "jquery.min" %>
    <%= javascript_include_tag "bootstrap.min" %>
    <%= javascript_include_tag "detectmobilebrowser" %>
    <%= javascript_include_tag "smoothscroll" %>
    <%= javascript_include_tag "bootstrapValidator.min" %>
    <%= javascript_include_tag "jquery.inview.min" %>
    <%= javascript_include_tag "jquery.easing.1.3" %>
    <%= javascript_include_tag "animations" %>
    <%= javascript_include_tag "animations" %>
    <%= javascript_include_tag "jquery.formatter.min" %>
    <%= javascript_include_tag "legacy" %>
    <%= javascript_include_tag "ajax" %>
    <%= javascript_include_tag "jquery.signaturepad.min" %>
    <%= javascript_include_tag "json2.min" %>
	<%= javascript_include_tag "pdfmake.min" %>
	<%= javascript_include_tag "vfs_fonts" %>
    <script>
    $(document).ready(function() {
		
		$("#clear").on('click', function(){ $("#foundation-donation-contract-accept").attr("disabled", "disabled"); });
		
		$('[name="creditos-vm-input"]').on({
			keypress: function (event) {
				if (!((event.which >= 48 && event.which <= 57))) {
					event.preventDefault();
				}
			}
		});
		
		$('[name="amount-input"]').on({
			keypress: function (event) {
				if (!((event.which >= 48 && event.which <= 57))) {
					event.preventDefault();
				}
			}
		});
		
		$('.sigPad').signaturePad({
			drawOnly:true,
			bgColour:'transparent',
			lineWidth: 0,
			onDrawEnd: function(){
				$("#foundation-donation-contract-accept").removeAttr("disabled");
				generateDonationContract();
			}
		});

      $( "#resetpassword-form" ).submit(function( event ) {
          event.preventDefault();
          $.ajax({
            type: "POST",
            url: "/dashboard/post_change_password",
            data: {
              password_input:$("#password_input").val(),
              password_input_new:$("#password_input_new").val(),
              password_input_confirm:$("#password_input_confirm").val()
            },
            dataType: "json",
            beforeSend: function(){

            },
            success: function(pRespuesta) {
              if(pRespuesta.success == 0){
                $("#error-label").html(pRespuesta.messages);
              }
              else if(pRespuesta.success == 1){
                window.location = pRespuesta.location;
              }
            },
            error: function(pRespuesta) {
              alert("error");
            },
            complete: function() {

            }
          });
        });
		
		$('[name="donation-accept"]').on( "click", function(){
			if($('[name="donation-accept"]').is(":checked")){
				$('[name="donate"]').attr('disabled', false);
			}
			else{
				$('[name="donate"]').attr('disabled', true);
			}
		});
		
		$('[name="donate"]').on('click', function(){
			generateDonationContract();
		})
		
		contract64 = ""; 
		generateDonationContract();
    });
	
	function generateDonationContract(){
		var signature = document.getElementById('canvas').toDataURL("image/png");
		var creditos = "";
		var monto = "";
		if($('[name="creditos-vm-input"]').val() == ''){
			creditos = "0";
		}else{ creditos = $('[name="creditos-vm-input"]').val(); }
		if($('[name="amount-input"]').val() == ''){
			monto = "0";
		}else{ monto = $('[name="amount-input"]').val(); }
		
		//Generate PDF Contract
		var today = new Date();
		var months = ["Enero", "Febrero", "Marzo", "Abril","Mayo","Junio","Julio","Agosto","Setiembre","Octubre","Noviembre","Diciembre"];
		var firma = "";
		var firmaVM = "David Eduardo Arrambide Montemayor";
		var docDefinition = {
			pageMargins: [ 40, 100, 40, 60 ],
			header: {
				columns: [
					{ image: 'data:image/png;base64,<%=@logo_verde_monarca.tr("\n", "")%>', 
					  margin: [40, 15, 10, 10],
					  width: 100
					},
					{ text: 'Contrato de Donación Fundación Verde Monarca', alignment: 'right', margin: [10, 60, 40, 20], fontSize: 14 }
				]
			},
			content: [
				{ 
					text: [
						{text: 'Contrato de Donación ', bold: true},
						'que celebran por una parte <%=@online_user.nombre.upcase + " " + @online_user.apellido.upcase%>, a quien en lo sucesivo se le dominará "El Donante", y por la otra Fundación Verde Monarca, A.C., a quien en lo sucesivo se le denominará "El Donatario", al tenor de las declaraciones y cláusulas siguientes:'
					]
				},
				{ text: '\nDECLARACIONES\n\n', style: 'title', alignment: 'left'},
				{ ol: [
						'Declara "El Donante":',
						{ ul: [
							'Que celebra el presente contrato con el fin de transmitir a "El Donatario" los fondos en numerario materia de este contrato, de forma gratuita.',
							'Que los recursos a donar se obtuvieron de forma legal.',
							'Que con la celebración del presente contrato no afecta los derechos de aquellas otras personas que en su momento tengan derecho a recibir alimentos de éste conforme a lo dispuesto por el Código Civil.',
							'Que señala como domicilio convencional el ubicado en <%=@online_user.calle + " " + @online_user.numero_direccion.to_s + ", " + @online_user.colonia + ", " + @location.description + ", " + @state.description + ", " + @country.description + " " + @online_user.codigo_postal%> y que cuenta con capacidad legal para celebrar la presente operación.\n',
						  ]
						},
						'Declara "El Donatario":',
						{ ul: [
							'Que ha revisado la documentación detallada en las declaraciones que anteceden.',
							'Que señala como domicilio convencional el ubicado en Notre Dame 115-A, Colonia Valle de San Ángel en San Pedro Garza García, Nuevo León, C.P. 66290.',
							'Que acepta la donación de los recursos económicos materia del contrato en los términos y condiciones que se establecen en el mismo.\n',
						  ]
						},
						'Ambas partes declaran:',
						{ ul: [
							'Que es su libre voluntad celebrar el presente contrato, sin encontrarse limitadas para dar y recibir los bienes a donar, respectivamente.',
						  ]
						},
					]
				},
				{ text: '\nCLÁUSULAS\n\n', style: 'title', alignment: 'center'},
				{
					text: [
						{ text: 'PRIMERA.- ', bold: true, fontSize: 14, },
						'"El Donante" se obliga a transmitir de forma gratuita la cantidad de $' + monto + ' MXN, ' + creditos + ' créditos a "El Donatario", quien manifiesta su aceptación respecto del mismo, recibiéndolos de forma absoluta, al no quedar condicionada su entrega, la cual será utilizada para ' + $('[name="program-input"] option:selected').text() + '.'
					]
				},
				{
					text: [
						{ text: '\nSEGUNDA.- ', bold: true, fontSize: 14, },
						'En razón de la transmisión mencionada en el artículo anterior, "El Donante" se obliga a realizar todos los actos jurídicos para ello y a entregarlo a "El Donatario" a la firma del presente contrato.'
					]
				},
				{
					text: [
						{ text: '\nTERCERA.- ', bold: true, fontSize: 14, },
						'"El Donante" se obliga a no imponerle cargas de pago de deudas o de otra índole a "El Donatario" que deriven del presente contrato.',
						
					],
					pageBreak: 'after'
				},
				{
					text: [
						{ text: '\nCUARTA.- ', bold: true, fontSize: 14, },
						'De acuerdo con lo expresado en la Declaración I, ambas partes convienen en que “El Donatario” quedará liberado del pago de cualquier deuda adquirida por "el Donante" antes de la celebración del presente contrato, quedando a cargo del mismo el saldo de las que resultaren.'
					]
				},
				{
					text: [
						{ text: '\nQUINTA.- ', bold: true, fontSize: 14, },
						'Las partes expresan que en la celebración del presente contrato no existe dolo, mala fe, violencia, error o cualquier otro vicio de la voluntad que pudiera invalidarlo.'
					]
				},
				{
					text: [
						{ text: '\nSEXTA.- ', bold: true, fontSize: 14, },
						'Ambas partes convienen que en caso de interpretación o controversia suscitada del presente contrato, se someterán a la jurisdicción de los tribunales competentes de Monterrey, Nuevo León, independientemente de la que pudiere corresponderles por razón de su domicilio presente o futuro.'
					]
				},
				{ text: '\nEn dicho acto intervienen como testigos los señores José Alfredo Gallo Camacho, y Victor Hugo Torres Martínez de Pinillos, ambos con domicilio en Notre Dame 115-A, Colonia Valle de San Ángel en San Pedro Garza García, Nuevo León, C.P. 66290.', alignment: 'left'},
				{ text: '\nLeído el presente contrato, conformes con su contenido valor y fuerza legal, lo firman quienes en él intervinieron, en la ciudad de Monterrey, Nuevo León a los ' + today.getDate() + ' días del mes de ' + months[today.getMonth()].toUpperCase() + ' de ' + today.getFullYear() + '.', alignment: 'left'},
				{
					table: {
						// headers are automatically repeated if the table spans over multiple pages
						// you can declare how many rows should be treated as headers
						headerRows: 1,
						widths: [ '*', '*'],

						body: [
							[ {text: '', alignment: 'left'}, {text: '', alignment: 'right'}],
							[ {text: 'Por “El Donante”', alignment: 'left'}, {text: 'Por “El Donatario”', alignment: 'right'}],
							[ {text: '', alignment: 'left'}, {text: '', alignment: 'right'}],
							[ { image: signature, width: 200, alignment: 'left' }, { image: 'data:image/png;base64,<%=@signatureDavid.tr("\n", "")%>', width: 200, alignment: 'right' }],
							[ {text: '__________________________________', alignment: 'left'}, {text: '__________________________________', alignment: 'right'}],
							[ {text: '<%=@online_user.nombre + " " + @online_user.apellido%>', alignment: 'left'}, {text: 'David Eduardo Arrambide Montemayor', alignment: 'right'}],
							[ {text: '', alignment: 'left'}, {text: 'Representante Legal', alignment: 'right'}],
							[ {text: '', alignment: 'left'}, {text: 'Fundación Verde Monarca, A.C.', alignment: 'right'}],
						]
					},
					layout: 'noBorders'
				},
			],
			footer: {
				columns: [
					{ text: 'Verde Monarca, S.A.P.I. de C.V.\n 115-A Notre Dame, Col. Valle de San Ángel\nSan Pedro Garza García, NL, MEX 66290', margin: [40, 0, 0, 0], fontSize: 8},
					{ text: '\nTel. (81) 8340-8279\nwww.verdemonarca.com', alignment: 'right', margin: [0, 0, 40, 0], fontSize: 8 }
				]
			},
			styles: {
				header: {
					fontSize: 12,
					alignment: 'justify'
				},
				title: {
					alignment: 'center',
					bold: 'true',
					fontSize: 14
				},
				subtitle: {
					bold: 'true',
					fontSize: 13
				},
				paragraph: {
					alignment: 'justify'
				},
				tabbed: {
					margin: [20, 0, 40, 0],
				}
			}
		};
		pdfMake.createPdf(docDefinition);
		pdfMake.createPdf(docDefinition).getDataUrl(function(outDoc) {
			$("#donation-contract-pdf").attr("src", outDoc);
			var contract64 = outDoc.replace(/^data:application\/(png|jpg|pdf);base64,/, "");
			$('[name="contract"]').val(contract64);
		});
	}
	
	$("#foundation-donation-contract-accept").on('click', function(){
		var pRequestO = new Object();
		pRequestO.pCredit = $('[name="creditos-vm-input"]').val();
		pRequestO.pAmount = $('[name="amount-input"]').val();
		
		Ajax(
		pRequestO, 
		"check_credits", 
		function(pResponse){
			$("#error").html("");
			$('[name="program"]').val($('[name="program-input"] option:selected').text());
			$('[name="project_id"]').val($('[name="program-input"]').val());
			$('[name="creditos_vm"]').val($('[name="creditos-vm-input"]').val());
			$('[name="amount"]').val($('[name="amount-input"]').val());
			
			$('#foundation-donation-contract-modal').modal('hide');
			$('#payment-modal').modal('show');
		}, function(pResponse){
			$("#error").html(pResponse.messages);
		})
	})
	
    </script>
  </body>
</html>
