<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Verde Monarca">
    <meta name="keywords" content="energia,renovable,mexico,energetico,solar,green,energy,latino,america,latinoamerica">
    <meta name="author" content="Maurizio Calo">
    <link href="assets/img/favicon.png" rel="shortcut icon" >
    <title>Verde Monarca</title>
    <%= stylesheet_link_tag "bootstrap.min" %>
    <%= stylesheet_link_tag "client-portal" %>
    <%= stylesheet_link_tag "responsive" %>
    <%= stylesheet_link_tag "animate.min" %>
    <%= stylesheet_link_tag "colorpickr" %>
    <%= stylesheet_link_tag "linecons" %>
    <%= stylesheet_link_tag "social-icons" %>
    <%= stylesheet_link_tag "font-awesome.min" %>
    <%= stylesheet_link_tag "bootstrapValidator.min" %>
    <!-- Web Fonts -->
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= javascript_include_tag "modernizr.custom" %>
  </head>

  <body data-spy="scroll" data-offset="0" data-target=".portal-sidebar">

    <%= render(:partial => "shared/dashboard_navbar", :locals => {:active_tab => "pay_it_forward"})%>
    <div class="main-dashboard-content">
      <div class="container">
        <div class="col-sm-3 portal-sidebar">
          <ul class="nav nav-list portal-sidenav affix cl-effect-13">
            <li class="active"><a href="#proyectos" class="smoothScroll">Proyectos</a></li>
          </ul>
        </div>

        <div class="col-sm-6">
          <div class="agua-para-todos">
              <div class="row">
                <h2 class="text-center theme-color">Pay-It-Forward</h2>
                <hr>
              </div><!-- /row -->
              <div class="row">
                <div class="classic-form">

                    <h2>¡Felicidades <strong class="theme-color"><%=@user.nombre%>!<strong class="theme-color"></h2>
                    <h3>Has donado exitosamente <strong class="theme-color"><%=@creditos_vm%> Créditos VM</strong> y <strong class="theme-color">$<%=@amount%> MN</strong> al proyecto <strong class="theme-color"><%=@codigo_vm%></strong>
                    <h3><strong class="theme-color"><%=@titular%></strong> estará muy agradecido contigo!</h3>
                </div>
              </div>
              <br><br><br>
              <br>
          </div><!-- /generacion-solar -->

        </div>
        <div class="col-sm-3 portal-right-sidebar">
          <div class="item">
            <h3 class="<%=@color_classes[@user_tier]%>">VM <%=@user_tier%></h3>
            <h1 class="text-center theme-color bold"><%=@user.puntos_vm%></h1>
            <h4 class="text-center theme-color bold">Puntos VM</h4>
          </div>
          <div class="item">
            <h1 class="text-center theme-color bold"><%=@user.creditos_vm%></h1>
            <h4 class="text-center theme-color bold">Créditos VM</h4>
          </div>
        </div>
      </div><!--/container-->
    </div>

    <%= render(:partial => "shared/footer")%>
    <!-- jQuery  -->
    <%= javascript_include_tag "jquery.min" %>
    <%= javascript_include_tag "bootstrap.min" %>
    <%= javascript_include_tag "detectmobilebrowser" %>
    <%= javascript_include_tag "smoothscroll" %>
    <%= javascript_include_tag "bootstrapValidator.min" %>
    <%= javascript_include_tag "jquery.inview.min" %>
    <%= javascript_include_tag "jquery.easing.1.3" %>
    <%= javascript_include_tag "animations" %>
    <%= javascript_include_tag "animations" %>
    <%= javascript_include_tag "jquery.formatter.min" %>
    <%= javascript_include_tag "legacy" %>

  </body>
</html>
