<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Verde Monarca">
    <meta name="keywords" content="energia,renovable,mexico,energetico,solar,green,energy,latino,america,latinoamerica">
    <meta name="author" content="Maurizio Calo">
    <link href="assets/img/favicon.png" rel="shortcut icon" >
    <title>Verde Monarca</title>
    <%= stylesheet_link_tag "bootstrap.min" %>
    <%= stylesheet_link_tag "client-portal" %>
    <%= stylesheet_link_tag "responsive" %>
    <%= stylesheet_link_tag "animate.min" %>
    <%= stylesheet_link_tag "colorpickr" %>
    <%= stylesheet_link_tag "linecons" %>
    <%= stylesheet_link_tag "social-icons" %>
    <%= stylesheet_link_tag "font-awesome.min" %>
    <%= stylesheet_link_tag "bootstrapValidator.min" %>
    <%= stylesheet_link_tag "style" %>
    <!-- Web Fonts -->
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= javascript_include_tag "modernizr.custom" %>
  </head>

  <body data-spy="scroll" data-offset="0" data-target=".portal-sidebar">

    <%= render(:partial => "shared/dashboard_navbar", :locals => {:active_tab => "categories"})%>
	<div class="main-dashboard-content">
      <div class="container">
        <div class="table-responsive">
      		<table style="min-height:500px;width:100%;">
      			<tr>
      				<td valign="top">
      					<table class="table table-hover" style="height:100% !important;">
      						<thead>
      							<tr>
      								<th>#</th>
      								<th>Descripci&oacute;n</th>
      								<th style="width:80px;"></th>
      								<th style="width:80px;"></th>
      							</tr>
      						</thead>
      						<tbody>
      							<% @categories.each do |c|%>
      							<tr>
      								<td><%=c.id%></td>
      								<td><%=c.description%></td>
      								<td><a style="float:right" href="/category/edit/<%=c.id%>">Editar</a></td>
      								<% if c.active == true%>
      								<td><a style="float:right" href="/category/deactivate/<%=c.id%>">Desactivar</a></td>
      								<% else %>
      								<td><a style="float:right; color:red;" href="/category/deactivate/<%=c.id%>">Activar</a></td>
      								<% end %>
      							</tr>
      							<% end %>
      						</tbody>
      					</table>
      				</td>
      			</tr>
      			<tr>
      				<td style="height:50px;">
      					<table class="table">
      						<tr>
      							<td class="text-right">
      								<a href="/category/new" class="btn btn-theme">Nueva categoría</a>
      							</td>
      						</tr>
      					</table>
      				</td>
      			</tr>
      		</table>
        </div>
      </div><!--/container-->
    </div>

    <%= render(:partial => "shared/footer")%>
    <!-- jQuery  -->
    <%= javascript_include_tag "jquery.min" %>
    <%= javascript_include_tag "bootstrap.min" %>
    <%= javascript_include_tag "detectmobilebrowser" %>
    <%= javascript_include_tag "smoothscroll" %>
    <%= javascript_include_tag "bootstrapValidator.min" %>
    <%= javascript_include_tag "jquery.inview.min" %>
    <%= javascript_include_tag "jquery.easing.1.3" %>
    <%= javascript_include_tag "animations" %>
    <%= javascript_include_tag "animations" %>
    <%= javascript_include_tag "jquery.formatter.min" %>
    <%= javascript_include_tag "legacy" %>
    <%= javascript_include_tag "verdemonarca" %>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    <script>
      $(document).ready(function() {
        $('body').scrollTop(0);
		
        $( "#resetpassword-form" ).submit(function( event ) {
          event.preventDefault();
          $.ajax({
            type: "POST",
            url: "/dashboard/post_change_password",
            data: {
              password_input:$("#password_input").val(),
              password_input:$("#password_input").val(),
              password_input_new:$("#password_input_new").val(),
              password_input_confirm:$("#password_input_confirm").val()
            },
            dataType: "json",
            beforeSend: function(){

            },
            success: function(pRespuesta) {
              if(pRespuesta.success == 0){
                $("#error-label").html(pRespuesta.messages);
              }
              else if(pRespuesta.success == 1){
                window.location = pRespuesta.location;
              }
            },
            error: function(pRespuesta) {
              alert("error");
            },
            complete: function() {

            }
          });
        });


      });

    </script>
  </body>
</html>
