<div class="modal fade" id="send-contract-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h3>¡Correo enviado exitosamente!</h3>
      </div>
      <div class="modal-footer">
        <a data-dismiss="modal" style="cursor:pointer;">Cerrar</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="item" id="user-confirmation">
    <div class="body-wrapper">
      <div class="container">
          <div class="row">
              <div class="col-md-12 col-sm-12 animated" data-animtype="flipInY"
                   data-animrepeat="0"
                   data-speed="1s"
                   data-delay="0.5s">
                  <h2 class="h2-section-title">Contratos</h2>

                  <div class="i-section-title">
                      <i class="icon-users-outline">

                      </i>
                  </div>

                  <div class="space-sep20"></div>
              </div>
          </div>

            <br>
            <h2 class="h2-section-title">Contrato</h2>
            <hr>
            <iframe src="<%=@contract1%>" width="100%" style="height:40em" id="contrato-pdf">
                Tu browser no puede mostrar documentos pdf
            </iframe>
            <h2 class="h2-section-title">Otorgación de Poder</h2>
            <hr>
            <iframe src="<%=@contract2%>" width="100%" style="height:40em" id="contrato2-pdf">
                Tu browser no puede mostrar documentos pdf
            </iframe>
            
          <div class="row">
            <div class="col-md-6 col-sm-6 centered">
                <div class="classic-form">
                  <a href="./confirmation"><button type="button" class="btn btn-theme">Atr&aacute;s</button></a>
                  <button type="button" id="send-contract" class="btn btn-theme" data-loading-text="enviando...">Enviar por correo</button>
                  <a href="./welcome"><button type="button" class="btn btn-theme">Siguiente</button></a>
                </div>
            </div>
          </div> <!-- /row -->
      </div> <!-- /container -->
  </div> <!-- /wrapper-->

</div>


<%= javascript_include_tag "jquery.min" %>
<%= javascript_include_tag "jspdf" %>
<%= javascript_include_tag "pdfmake.min" %>
<%= javascript_include_tag "vfs_fonts" %>


<script>
  $(document).ready(function(){
	  
    $( "#send-contract" ).on( "click", function() {
        var $btn = $(this).button('loading')
        var pRequestO = new Object();
        Ajax(pRequestO,"send_contract", function(pResponse){
            $('#send-contract-modal').modal('show')
            $btn.button('reset')
        }, function(pResponse){})
    });
    
  });

</script>

