<!-- Form Part 2: Energy Info !-->
<div class="item">
  <div class="body-wrapper">
      <div class="container">
          <div class="row">
              <div class="col-md-12 col-sm-12 animated" data-animtype="flipInY"
                   data-animrepeat="0"
                   data-speed="1s"
                   data-delay="0.5s">
                  <h2 class="h2-section-title">Consumo Energético</h2>

                  <div class="i-section-title">
                      <i class="icon-users-outline">

                      </i>
                  </div>

                  <div class="space-sep20"></div>
              </div>
          </div>

          <div class="row">

              <div class="col-md-8 col-sm-8 centered">
                  <div class="classic-form">
                      <form class="form-horizontal" role="form" id="registration-form-energy" action="">
                          <div class="form-group has-feedback" id="rpu-form-group">
                              <label for="rpu" class="col-sm-3 control-label">RPU</label>
                              <div class="col-sm-9">
                                  <input type="text" class="form-control" id="rpu" name="rpu" placeholder="Número de servicio (12 digitos)" value="">
                                  <i class="glyphicon glyphicon-question-sign form-control-feedback" data-toggle="modal" data-target="#modal-residential-rpu"></i>
                                  <small class="help-block" id="rpu-help-block"></small>
                              </div>
							  <input type="hidden" id="exists" name="exists" />
                          </div>
						  
                          <div class="form-group">
                              <div class="col-sm-offset-3 col-sm-9">
                                  <div class="checkbox">
                                      <label>
                                          <div class="text-justify">Autorizas a Verde Monarca a obtener tu información de consumo energético para presentarte una propuesta en menos de 5 segundos? (Puedes desmarcar e ingresar información manualmente)</div>
                                      </label>
                                  </div>
                              </div>
                          </div>

                          <div id="manual-info" style="display:none;">

                            <div class="form-group" id="tarifa-form-group">
                                <label for="tarifa" class="col-sm-3 control-label">Tarifa</label>
                                <div class="col-sm-9">
                                  <div class="pull-left">
                                    <div class="btn-group">
                                        <%=@is_residential%>
                                      <select class="form-control" name="tarifa" id="tarifa">
                                        <%if @is_residential==true%>
                                          <option>DAC</option>
                                        <%else%>
                                          <option>OM</option>
                                          <option>HM</option>
                                        <%end%>
                                      </select>
                                    </div>
                                    <i class="glyphicon glyphicon-question-sign form-control-feedback" data-toggle="modal" data-target="#modal-residential-tarifa"></i>
                                  </div>
                                </div>
                            </div>
                            <%if @is_residential==true%>
                            <div class="form-group has-feedback">
                                <label class="col-sm-3 control-label">Cargo Fijo (de un mes): </label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control require" id="cargo-fijo" name="cargo-fijo" value="" placeholder="Cargo Fijo (MN)">
                                  <i class="glyphicon glyphicon-question-sign form-control-feedback" data-toggle="modal" data-target="#modal-residential-fixed-charge"></i>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="col-sm-3 control-label">Energia (de un mes) </label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control require" id="energia" name="energia" value="" placeholder="Energia (de un mes) (MN)">
                                  <i class="glyphicon glyphicon-question-sign form-control-feedback" data-toggle="modal" data-target="#modal-residential-energy-subtotal"></i>
                                </div>
                            </div>
                            <%else%>
                              <div class="form-group has-feedback">
                                  <label class="col-sm-3 control-label">Demanda Facturable (de un mes) </label>
                                  <div class="col-sm-9">
                                    <input type="text" class="form-control require" id="cargo-fijo" name="cargo-fijo" value="" placeholder="Demanda Facturada (MN)">
                                    <i class="glyphicon glyphicon-question-sign form-control-feedback" data-toggle="modal" data-target="#modal-residential-fixed-charge"></i>
                                  </div>
                              </div>
                              <div class="form-group has-feedback">
                                  <label class="col-sm-3 control-label">Subtotal (de un mes) </label>
                                  <div class="col-sm-9">
                                    <input type="text" class="form-control require" id="energia" name="energia" value="" placeholder="Subtotal (de un mes) (MN)">
                                    <i class="glyphicon glyphicon-question-sign form-control-feedback" data-toggle="modal" data-target="#modal-residential-energy-subtotal"></i>
                                  </div>
                              </div>
                            <%end%>
                            <div class="form-group has-feedback">
                                <label class="col-sm-3 control-label">Depuración </label>
                                <div class="col-sm-9 control-label" id="depuracion" style="text-align:left;">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Consumo en el último año (12 meses) </label>
                                <%unless @is_residential%>
                                <div class="col-sm-9 control-label" style="text-align:center;">Nota: Es importante que en su recibo habrá dos valores para el mes de Abril (Abr) y el mes de Octubre (Oct)</div>
                                <%end%>
                            </div>
                            <%@months.each do |month|%>
                              <div class="form-group has-feedback month-row">
                                <label for="'<%=month%>'" class="col-sm-3 control-label"><%=month%></label>
                                <div class="col-sm-4">
                                  <input type="text" class="form-control monthly-consumption require" name="<%=month%>" placeholder="Consumo (kWh)"><%if month == @months[0]%><i class="glyphicon glyphicon-question-sign form-control-feedback" data-toggle="modal" data-target="#modal-residential-consumption-summary"></i><%end%>
                                </div>
                                <div class="col-sm-5">
                                  <input type="text" class="form-control monthly-import require" name="<%=month%>" placeholder='<%=if @is_residential then "Importe ($MN)" else "Precio Medio ($MN)" end%>'><%if month == @months[0]%><i class="glyphicon glyphicon-question-sign form-control-feedback" data-toggle="modal" data-target="#modal-residential-consumption-summary"></i><%end%>
                                </div>
                              </div>
                            <%end%>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Subotal: </label>
                                <div class="control-label col-sm-5 col-sm-offset-4" id="import-subtotal" name="import-subtotal">0</div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">IVA (16%): </label>
                                <div class="control-label col-sm-5 col-sm-offset-4" id="import-iva" name="import-iva">0</div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Total: </label>
                                <div class="control-label col-sm-4" id="consumo-total" name="consumo-total"></div>
                                <div class="control-label col-sm-5" id="import-total" name="import-total"></div>
                            </div>
                            <!--hidden fields-->
                            <input style='display:none' name='consumo-total' id="consumo-total-hidden" value="">
                            <input style='display:none' name='import-total' id="import-total-hidden" value="">
                            <!--/hidden fields-->
                          </div> <!--/manual info-->
                          <a href="./tipo_de_cliente"><button type="button" class="btn btn-theme">Atr&aacute;s</button></a>
                          <button type="submit" class="btn btn-theme" disabled id="energy-info-next-button">Siguiente</button>

                      </form>
                  </div>
              </div>

          </div> <!-- /row -->
      </div> <!-- /container -->
  </div> <!-- /wrapper-->
</div>
<!--/Energy-info-->
<%= javascript_include_tag "jquery.min" %>
<script>
	$(document).ready(function() {
		$('#manual-info').hide();
		$('#energy-info-next-button').prop('disabled', true);
		$('#rpu-help-block').hide();

		$("#rpu").on('input propertychange paste', function() {
			validateRpuField();
		});

		$("#registration-form-energy").submit(function( event ) {
			var access=0;
			$(".require").each(function() {
				if ($(this).val() == "") {
					$(this).css("border", "1px solid red");
					$('html, body').animate({
							scrollTop: $("#tarifa").offset().top - 100
					}, 500);
					access=0;
				}
				else{
					$(this).css("border", "1px solid transparent");
					access=1;
				}
			});
			if(access==1 || $("#energy-info-auth").is(':checked')){
				$("#registration-form-energy").attr('action', './post_energy_info');
				$("#registration-form-energy").submit();
			}
			event.preventDefault();
		});

		$("#energy-info-auth").click(function(){
			if ($("#energy-info-auth").is(':checked')) {
				validateRpuField();
				$('#manual-info').fadeOut();
			} else {
				$('#manual-info').fadeIn();
				$('#energy-info-next-button').prop('disabled', false);
				$('#rpu-form-group').removeClass('has-error');
			}
		});

		$(".monthly-consumption").on('input propertychange paste', function() {
			var sum = 0;
			$('.monthly-consumption').each(function() {
				val = parseInt($(this).val());
				if (!isNaN(val)) {
					sum += val;
				}
			});
			$('#consumo-total').html(numberWithCommas(sum) + " kWh");
			$('#consumo-total-hidden').val(sum);
		});

	  <%if @is_residential%>
		$(".monthly-import").on('input propertychange paste', function() {
		  var sum = 0;
		  $('.monthly-import').each(function() {
			  val = parseFloat($(this).val());
			  if (!isNaN(val)) {
				sum += val;
			  }
		  });
		  var subtotal = sum / 1.16;
		  var iva = subtotal * 0.16;
		  var total = sum;
		  $('#import-subtotal').html('$' + numberWithCommas(subtotal.toFixed(2)) + " MN");
		  $('#import-iva').html('$' + numberWithCommas(iva.toFixed(2)) + " MN");
		  $('#import-total').html('$' + numberWithCommas(total.toFixed(2)) + " MN");
		  $('#import-total-hidden').val(total);
		});
	  <%else%>
		$(".month-row").on('input propertychange paste', function() {
		  var sum = 0;
		  $('.month-row').each(function() {
			  var consumo = parseFloat($(this).find(".monthly-consumption").val());
			  var precioMedio = parseFloat($(this).find(".monthly-import").val());
			  val = consumo * precioMedio;
			  if (!isNaN(val)) {
				sum += val;
			  }
		  });
		  var subtotal = sum;
		  var iva = subtotal * 0.16;
		  var total = subtotal * 1.16;
		  $('#import-subtotal').html('$' + numberWithCommas(subtotal.toFixed(2)) + " MN");
		  $('#import-iva').html('$' + numberWithCommas(iva.toFixed(2)) + " MN");
		  $('#import-total').html('$' + numberWithCommas(total.toFixed(2)) + " MN");
		  $('#import-total-hidden').val(total);
		});
	  <%end%>

		$("#cargo-fijo, #energia").on('input propertychange paste', function() {
			computeDepuracion();
		});


	});

	/*src: http://stackoverflow.com/questions/2901102/how-to-print-a-number-with-commas-as-thousands-separators-in-javascript*/
	function numberWithCommas(x) {
		var parts = x.toString().split(".");
		parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
		return parts.join(".");
	}

	function computeDepuracion(){
	  var depuracion = parseFloat($("#cargo-fijo").val().replace(/,/g,'')) / parseFloat($("#energia").val().replace(/,/g,''));
	  var depuracionPercent = 100 * depuracion;
	  if (!isNaN(depuracionPercent)){
		$("#depuracion").html(depuracionPercent.toFixed(2)+"%")
	  }
	}

	function validateRpuField(){
		var rpu = $("#rpu").val().replace(/\s/g, "");
		console.log(rpu);
		var pRequestO=new Object();
		pRequestO.rpu=rpu;
		if(rpu.length == 12){
			Ajax(pRequestO,"/registration/rpu_info",
			function(pResponse){

				//El RPU existe en la base de datos!
				$('#energy-info-next-button').prop('disabled', false);
				$('#rpu-form-group').addClass('has-success');
				$('#rpu-form-group').removeClass('has-error');
				$('#rpu-help-block').hide();
				$("#exists").val(1);
			  
			},
			function(pResponse){
				if (pResponse.success == 0){
					//El RPU no existe en la base de datos!
					$('#rpu-form-group').removeClass('has-success');
					$('#rpu-form-group').addClass('has-error');
					$('#rpu-help-block').html('¡El RPU no existe en nuestra base de datos!');
					$('#rpu-help-block').show();
					$('#manual-info').fadeIn();
					$('#rpu-form-group').removeClass('has-warning');
					$("#energy-info-auth").removeAttr('checked');
					$('#energy-info-next-button').prop('disabled', false);
					$("#exists").val(0);
					$('html, body').animate({
						scrollTop: $("#tarifa").offset().top - 100
					}, 500);
				}
				else if (pResponse.success == 2){
					//El RPU esta registrado con otro usuario!
					$('#rpu-form-group').removeClass('has-success');
					$('#rpu-form-group').addClass('has-error');
					$('#energy-info-next-button').prop('disabled', true);
					$('#rpu-help-block').html('¡El RPU esta registrado con otro usuario!');
					$('#rpu-help-block').show();
				}
			})
		}
		else{
			//El RPU no es valido!
			$('#manual-info').fadeOut();
			$("#energy-info-auth").prop('checked', true);
			$('#rpu-form-group').removeClass('has-success');
			$('#rpu-form-group').addClass('has-error');
			$('#energy-info-next-button').prop('disabled', true);
			$('#rpu-help-block').html('¡El RPU no es valido!');
			$('#rpu-help-block').show();
			$('#energy-info-next-button').prop('disabled', true);
		}
	}

</script>

