    <!-- Top navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container-floid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%=link_to image_tag("Logo_Verde_Monarca.png", :border => 0), {:action => 'index', :controller => 'main'}, :class => 'navbar-brand smoothScroll'%>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav cl-effect-13">
		  <% @pages.each do |p| %>
			<% if SecurityController.has_permission(session["user_id"], p.command) %>
			<li <%if active_tab == p.command%> class="active"<%end%>><a href="<%=url_for controller: 'dashboard', action: p.command%>" class="smoothScroll"><%=p.description%></a></li>
			<% end %>
		  <%end%>
          </ul>
		  
          <!-- Sign In / Sign Up / Profile-->
          <div class="dropdown navbar-right" style="cursor:pointer; color:#3D9970; margin-top:16px; margin-right:20px;">
            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><%=@online_user.nombre + " " + @online_user.apellido %>&nbsp;<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li><a tabindex="-1" href="#resetpassword" data-toggle="modal" data-target="#resetpassword-modal">Cambiar Contrase&ntilde;a</a></li>
              <li><%=link_to("LOGOUT", {:action => 'logout', :controller => 'main'})%></li>
			  <% if SecurityController.has_permission(session[:user_id], 'configuration') %>
			  <li class="divider"></li>
				<li class="dropdown dropdown-submenu left">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuraci&oacute;n</a>
					<ul class="dropdown-menu pull-left">
						<% @configurations.each do |p| %>
							<% if SecurityController.has_permission(session[:user_id], p.command) %>
							<li <%if active_tab == p.command%> class="active"<%end%>><a href="<%=url_for controller: 'dashboard', action: p.command%>" class="smoothScroll"><%=p.description%></a></li>
							<% end %>
						<% end %>
					</ul>
				</li>
		      <% end %>
            </ul>        
          </div>

        </div><!--/nav-collapse -->
      </div><!-- /container -->
    </div><!-- /top-navbar -->

    <div class="modal fade bs-modal-sm in" id="resetpassword-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <br>
          <div class="modal-header">
            Cambiar Contrase&ntilde;a
          </div>
          <div class="modal-body">
            <div id="myTabContent" class="tab-content">
              <!-- Change Password Form -->
              <div class="tab-pane fade active in" id="resetpassword">
                <form class="form-horizontal" id="resetpassword-form" role="form" action="./post_change_password" method="post">
                  <fieldset>
                    
                    <!-- Password input-->
                    <div class="control-group">
                      
                      <label class="control-label" for="password_input">Contrase Actual:</label>
                      <div class="controls">
                        <input required="" id="password_input" name="password_input" class="form-control" type="password" placeholder="********" class="input-medium">
                      </div>
                      <label class="control-label" for="password_input_new">Contrase&ntilde;a Nueva:</label>
                      <div class="controls">
                        <input required="" id="password_input_new" name="password_input_new" class="form-control" type="password" placeholder="********" class="input-medium">
                      </div>
                      <label for="password_input_confirm" class="control-label">Confirmar Contrase&ntilde;a:</label>
                      <div class="controls">
                        <input required="" id="password_input_confirm" name="password_input_confirm" class="form-control" type="password" placeholder="********" class="input-medium">
                      </div>
                    </div>

                    <!-- Buttons-->
                    <div class="control-group">
                      <label class="control-label" for="signin"></label>
                      <div class="controls">
                        <button type="submit" id="signin" class="btn btn-theme btn-block">Guardar</button>
                      </div>
                    </div>

                    <div class="control-group" style="color:red;">
                      <center>
                        <label class="control-label" id="error-label"></label>
                      </center>
                    </div>

                  </fieldset>
                </form>
              </div><!-- /Change Password Form -->

            </div><!-- /tab-content -->
          </div><!-- /modal-body -->

          <div class="modal-footer">
            <center>
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </center>
          </div>

        </div><!-- /modal-content -->
      </div><!-- /modal-dialog -->
    </div><!-- /modal -->

