    <!-- Top navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%=link_to image_tag("Logo_Verde_Monarca.png", :border => 0), {:action => 'index', :controller => 'main'}, :class => 'navbar-brand smoothScroll'%>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav cl-effect-13">
            <li <%if active_tab == "monitoreo"%> class="active"<%end%>><a href="<%=url_for controller: 'dashboard', action: 'monitoreo'%>" class="smoothScroll">Tablero de Energía</a></li>
          </ul>
          <ul class="nav navbar-nav cl-effect-13">
            <li <%if active_tab == "puntos"%> class="active"<%end%>><a href="<%=url_for controller: 'dashboard', action: 'puntos'%>" class="smoothScroll">Créditos y Puntos VM</a></li>
          </ul>

          <ul class="nav navbar-nav cl-effect-13">
            <li <%if active_tab == "tienda"%> class="active"<%end%>><a href="<%=url_for controller: 'dashboard', action: 'tienda'%>" class="smoothScroll">Tienda Verde</a></li>
          </ul>

          <ul class="nav navbar-nav cl-effect-13">
            <li <%if active_tab == "fundacion"%> class="active"<%end%>><a href="<%=url_for controller: 'dashboard', action: 'fundacion'%>" class="smoothScroll">Fundación VM</a></li>
          </ul>

          <ul class="nav navbar-nav cl-effect-13">
            <li <%if active_tab == "pay_it_forward"%> class="active"<%end%>><a href="<%=url_for controller: 'dashboard', action: 'pay_it_forward'%>" class="smoothScroll">Pay-It-Forward</a></li>
          </ul>
          <!-- Sign In / Sign Up / Profile-->
          <!--<ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><%=link_to("LOGOUT", {:action => 'logout', :controller => 'main'})%></li>
          </ul>-->
          <div class="dropdown navbar-right" style="cursor:pointer; color:#3D9970; margin-top:16px ">
            <ul class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><%=@user.nombre + " " + @user.apellido %>&nbsp;<span class="caret"></span>
            </ul>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li><a tabindex="-1" href="#registration-modal" data-toggle="modal" data-target="#registration-modal">Cambiar Contrase&ntilde;a</a></li>
              <li><a tabindex="-1"><%=link_to("LOGOUT", {:action => 'logout', :controller => 'main'})%></a></li>
            </ul>        
          </div>

          <div class="modal fade bs-modal-sm" id="registration-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <br>
                <div class="modal-header">
                  Cambiar Contrase&ntilde;a
                </div>
                <div class="modal-body">
                  <div id="myTabContent" class="tab-content">
                    <!-- Change Password Form -->
                    <div class="tab-pane fade active in" id="signin">
                      <form class="form-horizontal" action="<%=url_for controller: 'main', action: 'login'%>" method="post" id="frmSignin">
                        <fieldset>
                          
                          <!-- Password input-->
                          <div class="control-group">
                            <label class="control-label" for="passwordinput">Password:</label>
                            <div class="controls">
                              <input required="" id="passwordinput" name="passwordinput" class="form-control" type="password" placeholder="********" class="input-medium">
                            </div>
                            <label for="account-password-confirm" class="control-label">Confirmar Password</label>
                            <div class="controls">
                              <input required="" id="passwordinput-confirm" name="passwordinput-confirm" class="form-control" type="password" placeholder="********" class="input-medium">
                            </div>
                          </div>

                          <!-- Buttons-->
                          <div class="control-group">
                            <label class="control-label" for="signin"></label>
                            <div class="controls">
                              <button id="signin" class="btn btn-theme btn-block">Guardar</button>
                            </div>
                          </div>

                          <div class="control-group" style="color:red;">
                            <center>
                              <label class="control-label" id="error-label"></label>
                            </center>
                          </div>

                        </fieldset>
                      </form>
                    </div><!-- /Change Password Form -->

                  </div><!-- /tab-content -->
                </div><!-- /modal-body -->

                <div class="modal-footer">
                  <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                  </center>
                </div>

              </div><!-- /modal-content -->
            </div><!-- /modal-dialog -->
          </div><!-- /modal -->

        </div><!--/nav-collapse -->
      </div><!-- /container -->
    </div><!-- /top-navbar -->
