<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Verde Monarca">
    <meta name="keywords" content="energia,renovable,mexico,energetico,solar,green,energy,latino,america,latinoamerica">
    <meta name="author" content="Maurizio Calo">
    <link href="assets/img/favicon.png" rel="shortcut icon" >
    <title>Verde Monarca</title>
    <%= stylesheet_link_tag "bootstrap.min" %>
    <%= stylesheet_link_tag "client-portal" %>
    <%= stylesheet_link_tag "responsive" %>
    <%= stylesheet_link_tag "animate.min" %>
    <%= stylesheet_link_tag "colorpickr" %>
    <%= stylesheet_link_tag "linecons" %>
    <%= stylesheet_link_tag "social-icons" %>
    <%= stylesheet_link_tag "font-awesome.min" %>
    <%= stylesheet_link_tag "bootstrapValidator.min" %>
    <%= stylesheet_link_tag "style" %>
    <%= stylesheet_link_tag "formsStyle" %>
    <!-- Web Fonts -->
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= javascript_include_tag "modernizr.custom" %>
  </head>

  <body data-spy="scroll" data-offset="0" data-target=".portal-sidebar">

    <%= render(:partial => "shared/dashboard_navbar", :locals => {:active_tab => "monitoring"})%>
	<div class="main-dashboard-content">
      <div class="container">

		<div class="row">
			<div class="col-md-12 col-sm-12 animated" data-animtype="flipInY"
			data-animrepeat="0"
			data-speed="1s"
			data-delay="0.5s">
				<div class="space-sep20"></div>
				<h2 class="h2-section-title">Datos del Usuario <%= @user.nombre + ' ' + @user.apellido %></h2>

				<div class="i-section-title">
					<i class="icon-users-outline">

					</i>
				</div>

				<div class="space-sep20"></div>
			</div>
		</div>

		<div class="row">

			<div class="col-md-6 col-sm-6 centered">
				<div class="classic-form">
					<form class="form-horizontal" role="form" id="user-edit-form" action="/user/update/<%=@user.id%>">
						
						<div class="form-group">
							<label for="rpu" class="col-sm-4 control-label">Nombre</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="rpu" value="<%=@user.rpu%>" placeholder="RPU" id="rpu" >
							</div>
						</div>

						<% if @user.is_residential==false%>
						<div class="form-group">
							<label for="empresa" class="col-sm-4 control-label">Empresa</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="empresa" value="<%=@user.empresa%>" placeholder="Empresa">
							</div>
						</div>
						<%end%>
						
						<div class="form-group">
							<label for="nombre" class="col-sm-4 control-label">Nombre</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="nombre" value="<%=@user.nombre%>" placeholder="Nombre" id="first-name" >
							</div>
						</div>

						<div class="form-group">
							<label for="apellido" class="col-sm-4 control-label">Apellido</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="apellido" value="<%=@user.apellido%>" placeholder="Apellido" id="last-name" >
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="col-sm-4 control-label">Email</label>
							<div class="col-sm-8">
								<input 
									type="email" 
									name="email" 
									id="email" 
									class="form-control" 
									value="<%=@user.email%>" 
									placeholder="Email"
									data-toggle="popover" 
									data-placement="bottom"
									data-trigger="manual" 
									title="" 
									data-content=""
								/>
							</div>
						</div>

						<div class="form-group">
							<label for="telefono" class="col-sm-4 control-label">Teléfono</label>
							<div class="col-sm-8">
								<input type="text" class="form-control"name="telefono" id="telefono" value="<%=@user.telefono%>" placeholder="Teléfono">
							</div>
						</div>

						<div class="form-group">
							<label for="celular" class="col-sm-4 control-label">Celular</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="celular" id="celular" value="<%=@user.celular%>" placeholder="Celular">
							</div>
						</div>

                        <div class="form-group">
                          <label for="pais" class="col-sm-4 control-label">País</label>
                          <div class="col-sm-8">
                            <select class="form-control" name="pais">
                              <% @country.each do |c|%>
                                <option value="<%=c.id%>" <%if c.id == @user.country_id %>selected<% end %>><%=c.description%></option>
                              <%end%>
                            </select>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="estado" class="col-sm-4 control-label">Estado</label>
                          <div class="col-sm-8">
                            <select class="form-control" name="estado">
                              <% @state.each do |s|%>
                                <option value="<%=s.id%>" <%if s.id == @user.state_id %>selected<% end %>><%=s.description%></option>
                              <%end%>
                            </select>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="municipio" class="col-sm-4 control-label">Municipio</label>
                          <div class="col-sm-8">
                            <select class="form-control" name="municipio">
                              <% @location.each do |l|%>
                                <option value="<%=l.id%>" <%if l.id == @user.location_id %>selected<% end %>><%=l.description%></option>
                              <%end%>
                            </select>  
                          </div>
                        </div>

						<div class="form-group">
							<label for="calle" class="col-sm-4 control-label">Calle</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="calle" placeholder="Calle" value="<%=@user.calle%>">
							</div>
						</div>

						<div class="form-group">
							<label for="numero" class="col-sm-4 control-label">Número</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="numero" placeholder="Número" value="<%=@user.numero_direccion%>">
							</div>
						</div>

						<div class="form-group">
							<label for="colonia" class="col-sm-4 control-label">Colonia</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="colonia" placeholder="Colonia" value="<%=@user.colonia%>">
							</div>
						</div>

						<div class="form-group">
							<label for="codigo-postal" class="col-sm-4 control-label">Código Postal</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="codigo-postal" name="codigo-postal" placeholder="Código Postal" value="<%=@user.codigo_postal%>">
							</div>
						</div>

						<div class="form-group">
							<label for="codigo-postal" class="col-sm-4 control-label">Código Postal</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="codigo-postal" name="codigo-postal" placeholder="Código Postal" value="<%=@user.codigo_postal%>">
							</div>
						</div>

						<div class="form-group">
							<label for="puntos-vm" class="col-sm-4 control-label">Puntos VM</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="puntos-vm" name="puntos-vm" placeholder="Puntos VM" value="<%=@user.puntos_vm%>">
							</div>
						</div>

						<div class="form-group">
							<label for="creditos-vm" class="col-sm-4 control-label">Puntos VM</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="creditos-vm" name="creditos-vm" placeholder="Créditos VM" value="<%=@user.creditos_vm%>">
							</div>
						</div>

						<div class="form-group">
							<label for="profile" class="col-sm-4 control-label">Perfil</label>
							<div class="col-sm-8">
								<select class="form-control" name="profile">
									<% @profiles.each do |p|%>
									<option value="<%=p.id%>" <% if p.id == @user.profile_id %>selected<% end %>><%=p.description%></option>
									<% end %>
								</select>
							</div>
						</div>

						<div class="form-group text-center">
							<button class="btn btn-theme" formaction="/user/">Regresar</button>
							<button type="submit" class="btn btn-theme">Guardar</button>
						</div>

					</form>
				</div>
			</div>
			<div class="space-sep20"></div>
		</div> <!-- /row -->

      </div><!--/container-->
    </div>

    <%= render(:partial => "shared/footer")%>
    <!-- jQuery  -->
    <%= javascript_include_tag "jquery.min" %>
    <%= javascript_include_tag "bootstrap.min" %>
    <%= javascript_include_tag "detectmobilebrowser" %>
    <%= javascript_include_tag "smoothscroll" %>
    <%= javascript_include_tag "bootstrapValidator.min" %>
    <%= javascript_include_tag "jquery.inview.min" %>
    <%= javascript_include_tag "jquery.easing.1.3" %>
    <%= javascript_include_tag "animations" %>
    <%= javascript_include_tag "animations" %>
    <%= javascript_include_tag "jquery.formatter.min" %>
    <%= javascript_include_tag "legacy" %>
    <%= javascript_include_tag "ajax" %>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    <script>
      $(document).ready(function() {
        $('body').scrollTop(0);
        $('.chart-btn-group').button();

        currentDate = new Date();
        var consumptionData = createFakeMonthData(currentDate.getMonth(),currentDate.getFullYear());
        var consumptionSeries = {name: 'Consumo Energetico', data: consumptionData, color:"#3D9970"};
        var solarGenerationData = generateFakeTimeSeriesData(25,5);
        var solarGenerationSeries = {name: 'Generación Solar', data: solarGenerationData};

        //createChart("consumption-chart",[consumptionSeries],"Consumo Energético");
        createMonthlyChart("consumption-chart", currentDate);
        createMonthlyChart("solar-generation-chart", currentDate);
        createMonthlyChart("balance-chart", currentDate);
        // createChart("solar-generation-chart",[solarGenerationSeries],"Generación Solar");
        // createChart("balance-chart",[consumptionSeries, solarGenerationSeries],"Balance Neto");

        $( "#resetpassword-form" ).submit(function( event ) {
          event.preventDefault();
          $.ajax({
            type: "POST",
            url: "/dashboard/post_change_password",
            data: {
              password_input:$("#password_input").val(),
              password_input:$("#password_input").val(),
              password_input_new:$("#password_input_new").val(),
              password_input_confirm:$("#password_input_confirm").val()
            },
            dataType: "json",
            beforeSend: function(){

            },
            success: function(pRespuesta) {
              if(pRespuesta.success == 0){
                $("#error-label").html(pRespuesta.messages);
              }
              else if(pRespuesta.success == 1){
                window.location = pRespuesta.location;
              }
            },
            error: function(pRespuesta) {
              alert("error");
            },
            complete: function() {

            }
          });
        });


      });

      $("#daily-consumption-button").click(function() {
        createDailyChart("consumption-chart", currentDate)
      });

      $("#monthly-consumption-button").click(function() {
        createMonthlyChart("consumption-chart", currentDate)
      });

      $("#yearly-consumption-button").click(function() {
        createYearlyChart("consumption-chart", currentDate)
      });

      $("#daily-solar-generation-button").click(function() {
        createDailyChart("solar-generation-chart", currentDate)
      });

      $("#monthly-solar-generation-button").click(function() {
        createMonthlyChart("solar-generation-chart", currentDate)
      });

      $("#yearly-solar-generation-button").click(function() {
        createYearlyChart("solar-generation-chart", currentDate)
      });

      $("#daily-balance-button").click(function() {
        createDailyChart("balance-chart", currentDate)
      });

      $("#monthly-balance-button").click(function() {
        createMonthlyChart("balance-chart", currentDate)
      });

      $("#yearly-balance-button").click(function() {
        createYearlyChart("balance-chart", currentDate)
      });

      function createDailyChart(chartId, chartDate) {
        $('#'+chartId).highcharts({
          chart: {
              zoomType: 'x'
          },
          title: {
              text: chartDate.getDate() + "/" + (chartDate.getMonth() + 1) + "/" + chartDate.getFullYear()
          },
          xAxis: {
              type: 'datetime',
              // range: 1 * 24 * 3600 * 1000 // one day
              min: Date.UTC(chartDate.getFullYear(), chartDate.getMonth() , chartDate.getDate()),
              max: Date.UTC(chartDate.getFullYear(), chartDate.getMonth() , chartDate.getDate() + 1)
          },
          yAxis: {
              title: {
                  text: 'Energía (kWh)'
              }
          },
          legend: {
              enabled: false
          },
          plotOptions: {
              area: {
                  fillColor: {
                      linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                      stops: [
                          [0, Highcharts.getOptions().colors[0]],
                          [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                      ]
                  },
                  marker: {
                      radius: 2
                  },
                  lineWidth: 1,
                  states: {
                      hover: {
                          lineWidth: 1
                      }
                  },
                  threshold: null
              }
          },

          series: [{
              type: 'area',
              name: 'Consumo (kWh)',
              pointInterval: 3600,
              pointStart: Date.UTC(chartDate.getFullYear(), chartDate.getMonth() , chartDate.getDate()),
              data: generateFakeTimeSeriesData(65,5)
          }]
        });
      }

      function createMonthlyChart(chartId, chartDate) {
        var MONTHS = ["Enero", "Febrero", "Marzo", "Abril","Mayo","Junio","Julio","Agosto","Setiembre","Octubre","Noviembre","Diciembre"];
        $('#'+chartId).highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: MONTHS[chartDate.getMonth()]
            },
            legend: {
                enabled: false,
            },
            xAxis: {
                type: 'category'
            },
            yAxis: {
                title: {
                    text: 'Energía (kWh)'
                }
            },
            // tooltip: {
            //     headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            //     pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            //         '<td style="padding:0"><b>{point.y:.0f} %</b></td></tr>',
            //     footerFormat: '</table>',
            //     shared: true,
            //     useHTML: true
            // },

            series: [{
                name: 'Consumo por día',
                colorByPoint: false,
                data: createFakeMonthData(chartDate.getMonth(), chartDate.getFullYear())
            }],
            plotOptions: {
                series: {
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function() {
                                console.log(this);
                                var dayOfMonth = this.name;
                                currentDate = new Date(chartDate.getFullYear(), chartDate.getMonth() , dayOfMonth);
                                createDailyChart(chartId, currentDate);
                            }
                        }
                    },
                    dataLabels: {
                        enabled: false,
                        style: {
                            fontWeight: 'bold'
                        },
                        formatter: function() {
                            return this.y +' kWh';
                        }
                    }
                }
            }
        });
      }

      function createYearlyChart(chartId, chartDate) {
        var MONTHS = ["Enero", "Febrero", "Marzo", "Abril","Mayo","Junio","Julio","Agosto","Setiembre","Octubre","Noviembre","Diciembre"];
        $('#'+chartId).highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: chartDate.getFullYear()
            },
            legend: {
                enabled: false,
            },
            xAxis: {
                type: 'category'
            },
            yAxis: {
                title: {
                    text: 'Energía (kWh)'
                }
            },
            // tooltip: {
            //     headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            //     pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            //         '<td style="padding:0"><b>{point.y:.0f} %</b></td></tr>',
            //     footerFormat: '</table>',
            //     shared: true,
            //     useHTML: true
            // },

            series: [{
                name: 'Consumo por mes',
                colorByPoint: false,
                data: createFakeYearlyData()
            }],
            plotOptions: {
                series: {
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function() {
                                console.log(this);
                                var monthOfYear = MONTHS.indexOf(this.name);
                                currentDate = new Date(chartDate.getFullYear(), monthOfYear , 1);
                                createMonthlyChart(chartId, currentDate);
                            }
                        }
                    },
                    dataLabels: {
                        enabled: false,
                        style: {
                            fontWeight: 'bold'
                        },
                        formatter: function() {
                            return this.y +' kWh';
                        }
                    }
                }
            }
        });
      }

      function createFakeMonthData(month, year) {
        series = [];
        var numDaysInMonth = daysInMonth(month, year);
        for (var i=1; i<= numDaysInMonth; i++){
          series.push({name:i.toString(),y:2000 + 180*(2*Math.random()-1),drilldown:i.toString()});
        }
        return series;
      }

      function createFakeYearlyData(month, year) {
        var MONTHS = ["Enero", "Febrero", "Marzo", "Abril","Mayo","Junio","Julio","Agosto","Setiembre","Octubre","Noviembre","Diciembre"];
        series = [];
        for (var i=0; i < 12; i++){
          series.push({name:MONTHS[i],y:24000 + 2200*(2*Math.random()-1),drilldown:i.toString()});
        }
        return series;
      }

      function createFakeDrilldownData(){
        series = [];
        for (var i = 1; i <= 31; i++) {
          series.push({id:i.toString(),data: [['hello',1],['world',2]]});
        }
        return series;
      }

      // Month is 0 based
      function daysInMonth(month,year) {
        return new Date(year, month + 1, 0).getDate();
      }


      /* Mock data in http://www.highcharts.com/samples/data/usdeur.js
      Format: [ [Date.UTC(2012,1,2), y] ] (array of 2-D key-value pairs)*/
      function generateFakeTimeSeriesData(mean, std) {
        var NUM_DAYS_IN_MONTH = [];
        var data = [];
        for (var year = 2014; year <= 2014; year++) {
          for (var month = 0; month < 12; month++) {
            if (year ==2015 && month == 9){
              break;
            }

            for (var day = 1; day <= daysInMonth(month, year); day++) {
              for (var hour = 0; hour <= 23; hour++) {
                for (var minute =0; minute <= 60; minute += 20) {
                  data.push([Date.UTC(year,month,day, hour, minute), mean + std*(2*Math.random()-1)]);
                }
              }
            }
          }
        }
        return data;
      }

    </script>
  </body>
</html>
